<footer class="footer">
    <h2 class="footer__title">- get in touch with us -</h2>
    <p class="footer__sub">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</p>
    <nav class="footer__social">
        <ul class="footer__social-list">
            <li class="rss">                        
                <a href=""> <img src="@img/RSS.svg" alt="rss"></a>
            </li>
            <li class="facebook">
                <a href=""> <img src="@img/Facebook.svg" alt="facebook"></a>      
            </li>
            <li class="twitter">
                <a href=""> <img src="@img/Twitter.svg" alt="twitter"></a>
            </li>
            <li class="">
                <a href=""> <img src="@img/Dribbble.svg" alt="Dribbble"></a>
            </li>
            <li>
                <a href=""> <img src="@img/Pinterest.svg" alt="Pinterest"></a>
            </li>
        </ul>
    </nav>
    <p class="footer__contacts"> Moonshine St. 14-05 Light City   /<br class="enter">   T. +00 (123) 456 78 90   /<br class="enter">   first.last@email.com</p>
</section>

</footer>