<header class="header container">
    <div class="header__mobile-version mobile-version">
        <img class="mobile-version__menu active" src="@img/menu-button.svg" alt="menu">
        <img class="mobile-version__close" src="@img/menu-button-close.svg" alt="close">
    </div>
    <nav class="header__content content">
        <ul class="content__list">
            <li class="content__item">Home</li>
            <li class="content__item">About Us</li>
            <li class="content__item">Our Journal</li>
            <li class="content__item">Projects</li>
            <li class="content__item">news</li>
            <li class="content__item">features</li>
            <li class="content__item">contact</li>
        </ul>
    </nav>
</header>