<section class="posts container">
    <h2 class="posts__title">- our Recent posts</h2>
    <nav class="posts__nav nav ">
        <ul class="nav__list">
            <li class="nav__item">
                <img class="nav__item-img" src="@img/posts1.png" alt="">
                <div class="nav__item-text item-text">
                    <h4 class="item-text__title">Aenean Adipiscing Etiam Vestibulum</h4>
                    <h5 class="item-text__sub">Photography, Journal   /   9 Comments</h5>
                    <p class="item-text__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>    
                </div>
            </li>
            <li class="nav__item">
                <img class="nav__item-img" src="@img/posts2.png" alt="">
                <div class="nav__item-text item-text">
                    <h4 class="item-text__title">Aenean Adipiscing Etiam Vestibulum</h4>
                    <h5 class="item-text__sub">Photography, Journal   /   9 Comments</h5>
                    <p class="item-text__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>    
                </div>
             </li>
            <li class="nav__item">
                <img class="nav__item-img" src="@img/posts3.png" alt="">
                <div class="nav__item-text item-text">
                    <h4 class="item-text__title">Aenean Adipiscing Etiam Vestibulum</h4>
                    <h5 class="item-text__sub">Photography, Journal   /   9 Comments</h5>
                    <p class="item-text__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>    
                </div>
            </li>
            <li class="nav__item">
                <img class="nav__item-img" src="@img/posts4.png" alt="">
                <div class="nav__item-text item-text">
                    <h4 class="item-text__title">Aenean Adipiscing Etiam Vestibulum</h4>
                    <h5 class="item-text__sub">Photography, Journal   /   9 Comments</h5>
                    <p class="item-text__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>    
                </div>
               </li>
        </ul>
    </nav>
</section>