<div class="shots container">
    <div class="shots__title">    
        <h2 class="shots__title-left" >- Latest Instagram Shots</h2>
        <p class="shots__title-right"><a href="">go to our instagram page -</a></p>
    </div>
    <nav class="shots__photo photo">
        <ul class="photo__list">
            <li class="photo__item first">
                <img  class="photo__item-img" src="@img/shots1.png" alt="bike">
            </li>
            <li class="photo__item second">
                <img class="photo__item-img" src="@img/shots2.png" alt="handle">
            </li>
            <li class="photo__item third">
                <img class="photo__item-img" src="@img/shots3.png" alt="wire">
            </li>
            <li class="photo__item fourth">
                <img class="photo__item-img" src="@img/shots4.png" alt="car">
            </li>
        </ul>
    </nav>
</div>