
.footer{
    background-color: #000;
    color: $footer-text-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
 

    &__title{
        margin-top: 38px;
        color: #FEFEFE;
        font-weight: $bold;
        text-transform: uppercase;
        line-height: 22px;
        font-size: 14px;
        font-weight: 700;
    }
    &__sub{
        width: 304px;
        text-align: center;
        font-size: 12px;
        line-height: 20px;
        margin: 8px 0 26px;
    }
    &__social-list{
        display: flex;
        align-items: center;
        gap:6px;
    }
    &__contacts{
        text-align: center;
        margin: 25px 0 47px;
        font-size: 14px;
        line-height: 24px;
    }
}


@include for-tablet-and-desktop {
    .footer{
        &__title{
            font-size: $font-size-16;
        }
    }
    .enter{
        display: none;
    }
    .footer__sub{
        width: 684px;
        line-height: 28px;
    }
}

@include for-tablet{
    .footer{
        height: 332px;
    }
}

@include for-desktop-only{
    .footer{
        height: 356px;
    }
}