.header{
    &__mobile-version{
        margin-top: 23px;
        display: flex;
        justify-content: right;

    }
    &__content{
        display: none;
    }
}

.mobile-version{
    &__menu{
        position: relative;
        background-color: #000;
        display: none;
    }
    &__close{
        position: relative;
        display: none;
        background-color: #000;
    }
    &__menu.active{
        position: relative;
        background-color: #000;
        display: block;
    }
    &__close.active{
        position: relative;
        display: block;
        background-color: #000;
    }
}

.burger-menu{
    position: absolute;
    top: 60px;
    z-index: 10;
    background-color: #F5F5F5;
    width: 182px;
    &__item{
        letter-spacing: 1.1px;
        text-transform: uppercase;
        color: $primary-text-color;
        font-weight: 400;
        font-size: 11px;
        line-height: 22px;
        height: 30px;
        display: flex;
        align-items: center;
    }
    &__item-text{
        margin-left: 12px;
    }
    &__item:hover{
        background: #E5E5E5;
        cursor: pointer;
    }
}

@include for-mobile{
    .header{
        display: flex;
        justify-content: right;
    }
}

@include for-tablet-and-desktop{
    .header{
        justify-content: center;
        &__mobile-version{
            display: none;
        }

        }
    .content{
        display: flex;
        justify-content: center;
        &__list{
            display: flex;
            flex-direction: row;
            gap: 34px;
        }
        &__item{
            letter-spacing: 1.1px;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 11px;
            line-height: 22px;
            color: #4E4E4E;

        }
        &__item:hover{
            color: #57A4A4;
            cursor: pointer;
        }

}}

@include for-tablet{
    .header.container{
        padding: 0;
    }
    .header{
        &__content{
            margin-top: 41px;
            &__list{
                display: flex;
                flex-direction: row;
            }
        }
    }
}

@include for-desktop-only{
    .header{
        &__content{
            margin-top: 45px;

    }
}
    .content{
    &__list{
        display: flex;
        flex-direction: row;
    }
}
}