@mixin for-desktop-only{
    @media screen and (min-width: map.get($grid-breakpoints, "lap")) {
        @content;
    }
}
@mixin for-mobile {
    @media screen and (max-width: map.get($grid-breakpoints, "tab")) and (min-width: map.get($grid-breakpoints, "mob")) {
        @content;
    }
}

@mixin for-tablet{
    @media screen and (max-width: map.get($grid-breakpoints, "lap")) and (min-width: map.get($grid-breakpoints, "tab")) {
        @content;
    }
}

@mixin for-tablet-and-desktop {
    @media screen and (min-width: map.get($grid-breakpoints, "tab")) {
        @content;
    }
}



