.posts{
    &__title{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #4E4E4E;
        margin-bottom: 23px;
    }
    &__nav{
    }}

.nav{
        &__list{
            display: flex;
            flex-direction: column;
            gap:28.5px;
        }
        &__item{
            display: flex;
            flex-direction: column;
        }
        &__item-img{
            width: 160px;
            height: 140px;
            margin-bottom: 11px;
        }
        &__item-text{

        }
    }
.item-text{
    &__title{
        font-weight: 700;
        font-size: 14px;
        line-height: 30px;
        color: $primary-text-color;
    }
    &__sub{
        font-weight: 400;
        font-size: 11px;
        line-height: 20px;
        color: $sub-text-color;
    }
    &__text{
        display: none;
    }
    }

@include for-tablet-and-desktop {
    .nav{
        margin-bottom: 60px;
        &__item{
            display: flex;
            flex-direction: row;
            gap: 21px;
        }
        &__item-img{
            margin-bottom: 0;
        }
        .item-text{
        &__title{
            font-weight: 700;
            font-size: 14px;
            line-height: 30px;
            color: $primary-text-color;
        }
        &__sub{
            font-weight: 400;
            font-size: 11px;
            line-height: 20px;
            color: $sub-text-color;
            margin-bottom: 13px;
        }
        &__text{
            display: block;
            width: 404px;
        }
        &__content{

                    }
                }
            }
        }




@include for-tablet{
    .nav__list{
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
}

@include for-desktop-only{
    .nav__list{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 355px;
    }
}