.shots{
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.03);
    mix-blend-mode: normal;
    &__title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        color: $primary-text-color;
        text-transform: uppercase;
        display: flex;
        margin: 38px 0 13px;

    }
    &__title-right{
        display: none;
    }
    &__title-left{
        font-size: 14px;
    }
}

.photo{
    &__list{
        display: flex;
    }
}

@include for-mobile{
    .shots{
        background: none;
    }
    .photo{
        &__list{
            margin-bottom: 38px;
            justify-content: left;
        }
        &__item.second{
            display: none;
        }
        &__item.third{
             display: none;
        }
        &__item.fourth{
             display: none;
        }
        &__item-img{
            width: 301px;
             height: 301px;
         }    
        }
    }

@include for-tablet-and-desktop{
    .shots{
        &__title{
            justify-content: space-between;
        }
        &__title-right{
            display: block;
            font-size: 13px;
            line-height: 22px;
        }
    }
    .photo{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
}

@include for-tablet{
    .photo{
        display: flex;
        &__list{
            display: flex;
            flex-direction: row;
            gap: 8px;
        }
        &__item-img{
            width: 250px;
            height: 250px; 
        }
        &__item.fourth{
            display: none;
        }
    }
}

@include for-desktop-only{
    .photo{
        &__list{
            gap: 10px;
        }
        &__item-img{
            width: 285px;
            height: 285px;
            }
    }
}