$primary-font: Roboto;
$primary-text-color:#4E4E4E;
$sub-text-color:#7C7C7C;
$text-color:#5C5C5C;
$footer-text-color:#B9B9B9;
$font-size-16: 16px;
$bold: 700;
$minWidth:320px;
$maxWidth:1200px;

$grid-breakpoints: (
    mob: 320px,
    tab: 767px,
    lap: 1200px,
);
