@use "sass:map";
@import 'variables';
@import 'mixins';
@import 'normalize';
@import 'footer';
@import 'posts';
@import 'header';
@import 'shots';

body {
    font-family: $primary-font;
    font-style: normal;
} 

.container{
    min-width: $minWidth;
    margin: 0 auto;
    padding: 0 25px;
    box-sizing: border-box;
  }

.main-img{
    margin: 23px 0 38px;
    display: flex;
    justify-content: center;
    &__img{
        width: 100%;
    }
}

@include for-tablet{
    .main-img{
        margin: 43px 0 56px;
    }   
    .container{
        padding: 0 80px;
    }
}

@include for-desktop-only{
    .container {
        box-sizing: content-box;
        padding:0 13%;
      }
    .main-img{
        margin: 51px 0 66px;
    }
}